.Details{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Totaldetail{
    background-color: rgb(192, 226, 43);
}

.close{
    
    background-color: rgb(202, 29, 202);
    border: darkturquoise;
    color: purple;
}
.close:hover{
    background-color: dimgrey;
}
h2{
    display: flex;
    justify-content: center;
}

img{
    max-width: 60%;
    display: flex;
    justify-content: center;
}